
/* MENU PRINCIPAL */
.menu-bgcolor{
    background-color: #d6f7ffcb !important;
}

.font-menu{
    color: #000000 !important;
}

.navbar {
    overflow: hidden;
    background-color: #333;
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: rgb(0, 0, 0);
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #a9d8e4cb;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

/* FOOTER */

.footer{
    margin-bottom:0 !important;
    height: 15.65em;
    width: 100%;
    border-radius: 0em !important;
}

.footer-gallery{
    margin-top: 21.8em;
    margin-bottom: 0em;
}

.footer-bgcolor{
    background-color: #d6f7ffcb !important;
}

.footer-font{
    color: #000000 !important;
}

/* CUADRO DE BÚSQUEDA */
.search-form{
    margin-left:13em;
}

/* CUADRO DE BÚSQUEDA EN CONTACTAR */
.search-form-getintouch{
    margin-left:7em;
}