.menu-bgcolor{
    background-color: #9fdeeecb !important;
}

.font-menu{
    color: #000000 !important;
}

.footer{
    margin-bottom:0 !important;
    height: 15.65em;
    width: 100%;
    border-radius: 0em !important;
}

.footer-gallery{
    margin-top: 21.8em;
    margin-bottom: 0em;
}

.footer-bgcolor{
    background-color: #9fdeeecb !important;
}

.footer-font{
    color: #000000 !important;
}

/* CUADRO DE BÚSQUEDA */
.search-form{
    margin-left:13em;
}

/* CUADRO DE BÚSQUEDA EN CONTACTAR */
.search-form-getintouch{
    margin-left:7em;
}